<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao.easy.wan">

    <application>
        <activity
            android:name=".activity.ProjectArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KnowledgeArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>